{% set url = path('app_rental_show', { 'category_slug' : rental.category.slug, 'slug': rental.slug}) %}
<div class="col-md-4">
	<div class="card bg-light mb-3">
		<div class="card-header text-center">
			{{ rental.rooms }}
			chambres,
			<strong>{{ rental.price | number_format(2, ',', ' ') }}&euro; / nuit</strong>
			<br>


		</div>

		<a href="{{ url }}">
			<img src="{{ rental.coverImage }}" alt="Image de l'appartement" class="img-appart">
		</a>

		<div class="card-body">
			<h4 class="card-title">
				<a href="{{ url }}">
					{{ rental.title }}
				</a>
			</h4>
			<p class="card-text">
				{{ rental.introduction }}
			</p>
			<a href="{{ url }}" class="btn btn-primary">En savoir plus !</a>
			{% if app.user and app.user == rental.author %}
				<a href="#" class="btn btn-secondary">Modifier l'annonce</a>
			{% endif %}
		</div>
	</div>
</div>
