{% extends 'base.html.twig' %}

{% block title %}liste des locations
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Voici les annonces de nos hôtes !</h1>
		<div class="row">
			{% for rental in rentals %}
				<div class="col-md-4">
					<div class="card bg-light mb-3 rounded ">
						<div class="card-header text-center">
							{{ rental.rooms }}
							chambres,
							<strong>{{ rental.price | number_format(2, ',', ' ') }}&euro; / nuit</strong>
							<br>
						</div>
						<img src="{{ rental.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
						<div class="card-body">
							<h4 class="card-title">
								{{ rental.title }}
							</h4>
							<p class="card-text">
								{{ rental.introduction }}
							</p>
							<a href="#" class="btn btn-primary">En savoir plus !</a>

							{% if app.user and app.user == rental.author %}
								<a href="#" class="btn btn-secondary">Modifier l'annonce</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
