{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<div class="bg-light py-3 px-3 border border-2">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-3 font-weight-normal">Connexion</h1><br>
						<label class="mb-3" for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus><br>
						<label class="mb-3" for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


						<div class="checkbox mb-3"><br>
							<label>
								<input type="checkbox" name="_remember_me">
								Remember me
							</label>
						</div><br><br><br>


						<button class="btn btn-lg btn-primary" type="submit">
							Sign in
						</button><br><br>
					</form>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
