{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="container text-center">
		<div class="jumbotron mt-3">
			<h1 class="display-5">Bienvenue sur le site d'un Hôte à l'autre 🤩 !</h1>
			<p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent mettre leur bien à la location !</p>
			<hr class="my-4">
			<p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
			<p class="lead">
				<a class="btn btn-info btn-lg" href="#" role="button">Voir nos annonces</a>
			</p>
		</div>

		<h2 class="h1 my-5">Nos appartements stars</h2>
		<div class="row">
			{% for rental in rentals %}
				<div class="col-md-4">
					<div class="card bg-light mb-3 rounded ">
						<div class="card-header text-center">
							{{ rental.rooms }}
							chambres,
							<strong>{{ rental.price | number_format(2, ',', ' ') }}&euro; / nuit</strong>
							<br>
						</div>
						<img src="{{ rental.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
						<div class="card-body">
							<h4 class="card-title">
								{{ rental.title }}
							</h4>
							<p class="card-text">
								{{ rental.introduction }}
							</p>
							<a href="#" class="btn btn-primary">En savoir plus !</a>

							{% if app.user and app.user == rental.author %}
								<a href="#" class="btn btn-secondary">Modifier l'annonce</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
