{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="container text-center">
		<div class="jumbotron mt-3">
			<h1 class="display-5">Bienvenue sur le site d'un Hôte à l'autre 🤩</h1>
			<p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent mettre leur bien à la location !</p>
			<hr class="my-4">
			<p>Vous êtes en mode touriste ? En déplacement professionnel ? Et vous voulez réserver une location chez l'habitant ? ?</p>
			<p class="lead">
				<a class="btn btn-info btn-lg" href="{{ path('app_rentals_list') }}" role="button">Voir nos locations</a>
			</p>
		</div>
		<h2 class="h1 my-5">Ça vient d'arriver !</h2>
		<div class="row">
			{% for data in rentalsByOrderDateDesc %}
				{% include "rental/_rental.html.twig" with {'rental': data.rental} %}
			{% endfor %}
		</div>
		<h2 class="h1 my-5">Nos locations stars</h2>
		<div class="row">
			{% for data in rentals %}
				{% include "rental/_rental.html.twig" with {'rental': data.rental} %}
			{% endfor %}
		</div>
		<h2 class="h1 my-5">Nos Accueillants stars</h2>
		<div class="row">
			{% for data in users %}
				<div class="col">
					<div class="card border-secondary mb-3">
						<div class="card-body">
							<h4 class="card-title">{{data.user.fullName}}</h4>
							<hr>
							<div class="card-text">
								<img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullName }}" class="float-left mr-3 avatar">
								<p>{{ data.user.introduction }}</p>
								<a href="{{ path('app_profile_display', {'slug': data.user.slug}) }}" class="btn btn-success float-right">En savoir plus!</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
