{% extends 'base.html.twig' %}

{% block title %}Ouverture de compte
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<div class="bg-light py-3 px-3 border border-2">
					<h1>Ouverture de compte</h1>

					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.first_name) }}
					{{ form_row(registrationForm.last_name) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.password) }}
					{{ form_row(registrationForm.confirm_password) }}
					{{ form_row(registrationForm.picture) }}
					{{ form_row(registrationForm.introduction) }}
					{{ form_row(registrationForm.description) }}
					{{ form_row(registrationForm.agreeTerms) }}

					<button type="submit" class="btn btn-primary">J'ouvre mon compte !</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
