{% extends "base.html.twig" %}

{% block title %}Réservation n°
	{{ booking.id }}
{% endblock %}

{% block body %}

	{% set rental = booking.rental %}
	{% set author = rental.author %}

	{% if app.request.query.get('withAlert') %}
		<div class="alert alert-success">
			<h4 class="alert-heading text-center">Merci pour votre réservation 😍</h4>
			<p>
				Votre réservation auprès de
				<strong>
					<a href="{{ path("app_profile_display", {'slug': author.slug})}}" class="profil-rental-name">{{author.fullName}}</a>
				</strong>
				pour l'annonce
				<strong>
					<a href="{{ path('app_rental_show', { 'category_slug' : rental.category.slug, 'slug': rental.slug}) }}" class="profil-rental-name">{{ rental.title }}</a>
				</strong>
				a bien été prise en compte !
				<br>
				Vous allez recevoir un mail de confirmation.
			</p>
		</div>
	{% endif %}

	<div class="container">
		<h1 class="my-5">Votre réservation (n°{{booking.id}})</h1>
		<div class="row">
			<div class="col">
				<div class="alert alert-light">
					<h2>Détails</h2>
					<dl class="row">
						<dt class="col-md-4">Numéro</dt>
						<dd class="col-md-8">{{booking.id}}</dd>
						<dt class="col-md-4">Date d'arrivée</dt>
						<dd class="col-md-8">{{booking.startAt | date('d/m/Y')}}</dd>
						<dt class="col-md-4">Date de départ</dt>
						<dd class="col-md-8">{{booking.endAt | date('d/m/Y')}}</dd>
						<dt class="col-md-4">Nombre de nuits</dt>
						<dd class="col-md-8">{{booking.duration}}</dd>
						<dt class="col-md-4">Montant total</dt>
						<dd class="col-md-8">{{booking.amount | number_format(2, ',', ' ')}}
							&euro;</dd>
						<dt class="col-md-4">Commentaire</dt>
						<dd class="col-md-8">{{booking.comment | default('Aucun commentaire')}}</dd>
					</dl>

					<hr>

					<h2 class="alert-heading">Votre hôte</h2>

					<div class="row mb-3">
						<div class="col-3">
							<img src="{{author.picture}}" class="avatar" alt="Avatar de {{author.fullName}}">
						</div>
						<div class="col-9">
							<h4>
								<a href="{{ path('app_profile_display', {'slug': author.slug}) }}">{{ author.fullName }}</a>
							</h4>

							<span class="badge badge-primary">{{author|length}}
								annonces</span>
						</div>
					</div>
					{{author.description | raw}}

					<a href="{{ path("app_profile_display", {'slug': author.slug}) }}" class="btn btn-primary">Faire un peu plus connaissance avec
						{{author.firstName}}</a>
				</div>
			</div>
			<div class="col">
				<div class="alert alert-light">
					<h2 class="alert-heading">Votre hébergement</h2>

					<h4>
						<a href="{{ path('app_rental_show', { 'category_slug' : rental.category.slug, 'slug': rental.slug}) }}">{{rental.title}}</a>
					</h4>

					<img src="{{rental.coverImage}}" alt="Image de {{rental.title}}" class="img-fluid">

					{{rental.content | raw}}

					<a href="{{ path('app_rental_show', { 'category_slug' : rental.category.slug, 'slug': rental.slug}) }}" class="btn btn-primary">Plus d'informations</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
